################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/3f1b3c638b0b3ed0/EX3.4.ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/4491eca7a334f853/SINK.ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/de82e63412896391/SOURCE.ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Browse.VC.opendb
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Solution.VC.db-shm
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Solution.VC.db-wal
/.vs/-EmbeddedRealTimeSystems-/v15/.suo
/.vs/-EmbeddedRealTimeSystems-/v15/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/4b7a5b5fdd221215/TOP.ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/7b0ad38b1c23c210/EX3.5.ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Server/sqlite3/db.lock
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Server/sqlite3/storage.ide
/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch
/SystemC_assignment1/.vs/SystemC_assignment1/v15/Server/sqlite3
/SystemC_assignment1/Debug/Ex3.5.exe
/SystemC_assignment1/Debug/Ex3.5.ilk
/SystemC_assignment1/Debug/Ex3.5.pdb
/SystemC_assignment1/Ex3.5/Debug
/SystemC_assignment1/Debug
/SystemC_assignment1/.vs/SystemC_assignment1/v15
/SystemC_assignment1/Ex3.1/Debug
/SystemC_assignment1/EX3.2/Debug
/SystemC_assignment1/EX3.2/EX3.2.vcxproj.user
/SystemC_assignment1/Ex3.3/Debug
/SystemC_assignment1/Ex3.4/Debug
/SystemC_assignment1/Ex3.4/Ex3.4.vcxproj.user
/SystemC_assignment1/Ex3.3/Ex3.3.vcxproj.user
