################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SystemC_assignment1/.vs/SystemC_assignment1/v15/ipch/AutoPCH/3f1b3c638b0b3ed0/EX3.4.ipch
